<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="数据库大作业图书管理系统.Properties.Settings.book2ConnectionString"
            connectionString="Data Source=CYS666;Initial Catalog=book2;User ID=sa;Password=as7737009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>